/*Raleway Font*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Lexend Deca Font*/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Colores
$negro100: #031219;
$negro80: #354147;
$negro60: #687175;
$negro40: #9AA0A3;
$negro20: #CDD0D1;

$gris100: #373B44;
$gris80: #5F6269;
$gris60: #87898F;
$gris40: #AFB1B4;
$gris20: #D7D8DA;

$gris-sup100: #DADAD8;
$gris-sup80: #E1E1E0;
$gris-sup60: #E9E9E8;
$gris-sup40: #F0F0EF;
$gris-sup20: #F8F8F7;

$rosa100: #FF3D7F;
$rosa80: #FF6499;
$rosa60: #FF8BB2;
$rosa40: #FFB1CC;
$rosa20: #FFD8E5;

$turquesa100: #3FB8AF;
$turquesa80: #65C6BF;
$turquesa60: #8CD4CF;
$turquesa40: #B2E3DF;
$turquesa20: #D9F1EF;

$blanco: #fff;
$primario: #2E67F8;
$exito: #268857;
$peligro: #D73447;
$advertencia: #FBC332;
$info: #38C9EE;

//Textos
$lexend: "Lexend Deca", arial, sans-serif; 
$raleway: "Raleway", arial, sans-serif;
b {
    color: $rosa100;
} 
.rosa {
    color: $rosa100 !important;
}
body {
    font-family: $raleway;
    background-color: $gris-sup80;
    header {
        width: 100%;
        background-color: $negro100;
        color: white;
        #menu-principal {
            list-style: none;
            font-family: $lexend !important;
            text-transform: uppercase;
            li {
                display: inline;
                margin-left: 20px;
                a {
                    text-decoration: none;
                    font-size: 1.2rem;
                    font-weight: 400;
                    color: white;
                    transition: color 1s;
                    &:hover {
                        color: $rosa100;
                    }
                }
                #btn-contacto {
                    border: 1px solid $rosa100;
                    border-radius: 3px;
                }
            }
        }
    }
    .slider-principal {
        background-color: black;
    }
    #nosotros{
        border: 1px solid $rosa100;
        border-radius: 6px;
    }
    #portafolio {
        background-color: $negro100;
        color: white;
    }
    footer {
        background-color: $gris100;
        color: white;
    }
}

//Titulos
h1, h2, h3, h4, h5, h6 {
    font-family: $lexend;
}

//Logo Slider
#clientes {
    background-color: $gris-sup40;
    .container {
        overflow: hidden;
        .slider-logos {
          animation: slidein 60s linear infinite;
          white-space: nowrap;
          .logos {
            width: 100%;
            display: inline-block;
            margin: 0px 0;
            .fab {
                margin: 0 10px;
              width: calc(100% / 8);
              animation: fade-in 0.5s 
                cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
            }
          }
        }
      }
      
      @keyframes slidein {
        from {
          transform: translate3d(0, 0, 0);
        }
        to {
          transform: translate3d(-100%, 0, 0);
        }
      }
      
      @keyframes fade-in {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
}

  
