/*Raleway Font*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Lexend Deca Font*/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Colores
$negro100: #031219;
$negro80: #354147;
$negro60: #687175;
$negro40: #9AA0A3;
$negro20: #CDD0D1;

$gris100: #373B44;
$gris80: #5F6269;
$gris60: #87898F;
$gris40: #AFB1B4;
$gris20: #D7D8DA;

$gris-sup100: #DADAD8;
$gris-sup80: #E1E1E0;
$gris-sup60: #E9E9E8;
$gris-sup40: #F0F0EF;
$gris-sup20: #F8F8F7;

$rosa100: #FF3D7F;
$rosa80: #FF6499;
$rosa60: #FF8BB2;
$rosa40: #FFB1CC;
$rosa20: #FFD8E5;

$turquesa100: #3FB8AF;
$turquesa80: #65C6BF;
$turquesa60: #8CD4CF;
$turquesa40: #B2E3DF;
$turquesa20: #D9F1EF;

$blanco: #fff;
$primario: #2E67F8;
$exito: #268857;
$peligro: #D73447;
$advertencia: #FBC332;
$info: #38C9EE;

//Textos
$lexend: "Lexend Deca", arial, sans-serif; 
$raleway: "Raleway", arial, sans-serif;
b {
  color: $rosa100;
} 
.rosa {
  color: $rosa100 !important;
}
.bg-claro {
  background-color: $gris-sup100;
}
body {
    font-family: $raleway;
    background-color: $negro100 !important;
    .header {
      border: 1px solid  transparent;
      border-image: linear-gradient(to bottom, $rosa100 0%, transparent 50%) 1;
      background-color: #031219d5;
      #logo {
        display: inline-block;
        box-sizing: content-box;
      }
      #menu-principal {
        list-style: none;
        font-family: $lexend !important;
        text-transform: uppercase;
        li {
            display: inline;
            margin-left: 20px;
            a {
              text-decoration: none;
              font-size: 1.1rem;
              font-weight: 400;
              color: white;
              transition: color 0.5s;
              &:hover {
                color: $rosa100;
              }
            }
            #btn-contacto {
              border-radius: 3px;
              border: 1px solid $rosa100;
              background: transparent;
              color: $rosa100;
              transition: all 0.5s;
              &:hover {
                background: $rosa100;
                color: white;
              }
            }
        }
    }
  }
    #seccion-a {
      width: 100%;
      height: 100vh;
      padding-top: 20px;
      background: rgb(3,18,25);
      background: -moz-linear-gradient(180deg, rgba(3,18,25,1) 25%, rgba(65,17,37,1) 100%);
      background: -webkit-linear-gradient(180deg, rgba(3,18,25,1) 25%, rgba(65,17,37,1) 100%);
      background: linear-gradient(180deg, rgba(3,18,25,1) 25%, rgba(65,17,37,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#031219",endColorstr="#411125",GradientType=1);
    }
  #nosotros {
    background-color: $gris-sup40;
    color: $negro100;
  }
    #contacto{
      border: 1px solid $rosa100;
      border-radius: 6px;
      color: white;
    }
    #portafolio {
      background-color: $negro100;
      color: white;
      .portadas {
        border-radius: 4px;
        border: 2px solid $rosa100;
        cursor: pointer;
        transition: border 0.5s;
        &:hover {
          border: 2px solid white;
        }
      }
    }
    footer {
      background-color: $gris100;
      color: white;
    }
}
// Menu Mobile
#menu-desplegable {
  background-color: $negro100;
  color: white;
  .btn-close-rosa {
    color: white;
    background-color: $rosa100;
    border: 1px solid $rosa100;
    border-radius: 3px;
    &:hover { 
      border: 1px solid white;
      background-color: $negro100;
    }
  }
  #menu-mobile {
    list-style: none;
    li {
      margin-bottom: 1rem;
      a {
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 400;
        color: white;
        transition: color 1s;
        &:hover {
          color: $rosa100;
        }
        }
        #btn-contacto {
          border: 1px solid $rosa100;
          border-radius: 3px;
        }
    }
  }
}

//Titulos
h1, h2, h3, h4, h5, h6 {
  font-family: $lexend;
}

//Logo Slider
#clientes {
    background-color: $gris-sup40;
    .container {
        overflow: hidden;
        .slider-logos {
          animation: slidein 60s linear infinite;
          white-space: nowrap;
          .logos {
            width: 100%;
            display: inline-block;
            margin: 0px 0;
            .fab {
              margin: 0 10px;
              width: calc(100% / 8);
              animation: fade-in 0.5s 
              cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
            }
          }
        }
      }
      
      @keyframes slidein {
        from {
          transform: translate3d(0, 0, 0);
        }
        to {
          transform: translate3d(-100%, 0, 0);
        }
      }
      
      @keyframes fade-in {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
}
//Modal
.modal{
  .modal-content {
    .modal-header {
      color: $negro100;
      background-color: $rosa80;
    }
    .modal-body {
      background-color: $negro80;
    }
    .modal-footer {
      background-color: $negro80;
    }
  }
}


//Galeria de fotos
.photo-gallery {
  color: $negro100;
  background-color: $negro80;
}

.photo-gallery p {
  color: $rosa100;
}

.photo-gallery h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.photo-gallery .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom:0;
}

.photo-gallery .photos {
  padding-bottom:20px;
}

.photo-gallery .item {
  padding-bottom:30px;
}
.lb-data {
  display: none;
}

//Links
 #nosotros-link, #portafolio-link, #clientes-link, #experiencia-link, #contacto-link, #servicios-link{
  width: 100%;
  height: 80px;
}

.texto-titulos-modales {
  color: white;
  text-transform: uppercase;
}
.redes-sociales{
  li {
    color: white;
    a {
      color: white;
      text-decoration: none;
    }
  }
} 

#descarga {
  color: red;
  text-decoration: none;
  background-color: #f9b8b2;
  border: 1px solid red;
  padding: 8px;
  width: 500px;
  border-radius: 3px;
  transition: background-color 0.5s;
  &:hover {
    background-color: white;
  }
  img {
    width: 24px;
  }
}
.link {
  color: $rosa100;
  a {
    color: $rosa100;
    text-decoration: none;
  }
}